*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(250,250,250);
    height: 100vh;
    text-align: center;
    overflow: hidden;
  
}
.home-card{
    background-color: rgb(214,225,240);
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 30px;
    /* padding: 20px; */
    
}
.card{
    background-color: white;
    text-align: center;
    width: 18rem;
    padding: 10px;
    border-radius: 15px;
}

.qr-image{
    margin: 5px;
}

.content{
    margin: 5px;
    font-size: 15px;
}
.content h2{
    margin: 15px 0;
}

.content p{
    margin-bottom: 15px;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
